.container{
    display:flex;
    justify-content: space-evenly;
    margin:1% 10%;
    height: 350px;
}

#plateau{
    background-color: lightgray;
}

#main{
    background-color: lightsalmon;
}

h2, h4, h5{
    text-align: center;
}

.carte{
    width:150px;
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin-top:10px;
    border-radius:20px;
}

#main .carte, .pointer{
    cursor: pointer;
}

#carteSelect{
    border:solid red 10px;
}

#score{
    margin:0 10%;
    display:flex;
    justify-content: space-evenly;
<<<<<<< HEAD
    text-align: center;
    margin-top:10px;
    border-radius:20px;
}

#main .carte, .pointer{
    cursor: pointer;
}

#carteSelect{
    border:solid red 10px;
}

#score{
    margin:0 10%;
    display:flex;
    justify-content: space-evenly;
}

#score span{
    width:150px;
}

img{
    height: 150px;
}

.d-block{
    display: block;
=======
>>>>>>> 754759b (test)
}

.d-none{
    display: none;
}

#score span{
    width:150px;
}

img{
    height: 150px;
}

.d-block{
    display: block;
}

.d-none{
    display: none;
}