header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: red;
    align-items: center;
}

header nav{
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header > div{
    color:darkred;
}

body{
    margin:0;
    text-align: center;
}

.stat{
    border-bottom: 2px solid red;
    display: flex;
    justify-content: space-evenly;
}